:root {
	--color: transparent;

	--light-greenish-blue: #55efc4;
	--emerald: #2ecc71;

	--green-darner-tail: #74b9ff;
	--belize-hole: #2980b9;

	--shy-moment: #a29bfe;
	--wisteria: #8e44ad;

	--wet-asphalt: #34495e;
	--midnight-blue: #2c3e50;

	--green-sea: #16a085;
	--nephritis: #27ae60;

	--bright-yarrow: #fdcb6e;
	--sun-flower: #f1c40f;

	--pink-glamour: #ff7675;
	--alizarin: #e74c3c;

	--clouds: #ecf0f1;
	--concrete: #95a5a6;
	--orange: #f39c12;
	--pumpkin: #d35400;
	--pomegranate: #c0392b;
	--silver: #bdc3c7;
	--asbestos: #7f8c8d;
}

.gems {
	--color: var(--wisteria) !important;
}

.kamas,
.spells {
	--color: var(--sun-flower) !important;
}

.infinite {
	--color: var(--bright-yarrow) !important;
}

.krosmic,
.equipments {
	--color: var(--shy-moment) !important;
}

.rare,
.companion,
.companions {
	--color: var(--green-darner-tail) !important;
}

.common,
.equipment,
.ring,
.armband {
	--color: var(--asbestos) !important;
}

.wakfu {
	--color: var(--belize-hole) !important;
}

.chest {
	--color: var(--pink-glamour) !important;
}

.runes {
	--color: var(--nephritis) !important;
}
